node_modules/**/*
.exponent/*
npm-debug.*
.babelrc
.expo/
.vscode/


##  Dist app packages  ##
*.apk
*.ipa


## OS ##

# Linux
*~
*.swp
# KDE
.directory

# Windows
ehthumbs.db
Icon?
Thumbs.db

# Mac OS
.DS_Store*
._*
